# Quran Foundation API Credentials
# Request access at: https://api-docs.quran.foundation/request-access
QF_CLIENT_ID=9c369946-fb66-4e26-8fbb-586e6eea7843
QF_CLIENT_SECRET=zMcGHOyuCX8NAakDv1RE9obTQV
QF_ENV=prelive

# Flask
FLASK_DEBUG=true
